.container-admin {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.profile img {
  border-radius: 50%;
  margin-right: 20px;
  width: 100px;
  height: 100px;
}
.profile h1 {
  margin: 0;
}
.section {
  margin-bottom: 20px;
}
.section h2 {
  margin-top: 0;
}
.section p {
  margin: 0;
}
