.app {
  padding: 20px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #3d556f;
  margin: 0;
  padding: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #3d556f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.card {
  width: 300px;
  margin: 10px;
  width: calc(33.33% - 20px);
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

#input {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#int {
  width: 320px;
  height: 37px;
  margin-right: 160px;
  margin-top: 60px;
  color: #c3c6c6;
  font-weight: bold;
  font-style: italic;
}

#int-span {
  width: 500px;
  height: 50px;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 20px;
  color: #fffefa;
  margin-left: 160px;
}
